## Altium
__Previews
History
Project Logs*
Project Outputs*
Manufacturing
*.NET
*.htm
*.Harness
*.PrjPCBStructure
*.x_t
*_loc

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc

## Intermediate documents:
*.dvi
*-converted-to.*
# these rules might exclude image files for figures etc.
# *.ps
# *.eps
# *.pdf
doc/bat_source.pdf

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.brf
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

## Auxiliary and intermediate files from other packages:

# algorithms
*.alg
*.loa

# amsthm
*.thm

# beamer
*.nav
*.snm
*.vrb

#(e)ledmac/(e)ledpar
*.end
*.[1-9]
*.[1-9][0-9]
*.[1-9][0-9][0-9]
*.[1-9]R
*.[1-9][0-9]R
*.[1-9][0-9][0-9]R
*.eledsec[1-9]
*.eledsec[1-9]R
*.eledsec[1-9][0-9]
*.eledsec[1-9][0-9]R
*.eledsec[1-9][0-9][0-9]
*.eledsec[1-9][0-9][0-9]R

# glossaries
*.acn
*.acr
*.glg
*.glo
*.gls

# hyperref
*.brf

# listings
*.lol

# makeidx
*.idx
*.ilg
*.ind
*.ist

# minitoc
*.maf
*.mtc
*.mtc0

# minted
*.pyg

# morewrites
*.mw

# nomencl
*.nlo

# sagetex
*.sagetex.sage
*.sagetex.py
*.sagetex.scmd

# sympy
*.sout
*.sympy
sympy-plots-for-*.tex/

# todonotes
*.tdo

# xindy
*.xdy

# temporary editor files
*.swp
*.exe.stackdump

# Output folders
*/obj
**/obj

# CAD
# stl files
*.stl

# pcb cad files
cad/pcb/

# Tests
cad/Tests/

# cad archives
cad/archive/
cad/pcb_bak/
cad/print/

# FreeCAD
*.FCStd1
*.FCBak
*.step
*.dxf

# LT Spice
*.op.raw
*.raw
hw/sim/*.zip
hw/sim/MCP6N11_MM_D
hw/sim/sbom974c
hw/sim/sboma34d

# Python
__pycache__


# Simulation Data
*.mat

